@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    var home = @CurrentPage.Site();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="@CurrentPage.siteDescription">
    <title>@CurrentPage._siteTitle | @CurrentPage.Name</title>
    @{ Html.RenderPartial("Styles");}
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PGNJ28"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header class="da-nav navbar navbar-static-top">
        <div class="container-fluid">
            <div class="row navbar-gap"></div>
        </div>
        <div class="container">
            <div class="navbar-header">
                <button aria-controls="bs-navbar" aria-expanded="false" class="collapsed navbar-toggle" data-target="#bs-navbar" data-toggle="collapse" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@home.Url" class="navbar-brand">
                    <span class="da-icon">@CurrentPage._siteShortName</span>
                </a>
            </div>
            <nav class="collapse navbar-collapse" id="bs-navbar">
                @{ Html.RenderPartial("MainNavigation"); }
                <ul class="nav navbar-nav navbar-right">
                    <li class="facebook" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="twitter" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="linkedin" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li class="youtube" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Youtube"><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li class="twitter" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="gplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li class="facebook" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>
    @RenderBody()
    @*<div class="container clearfix">
        <div class="row-fluid">
            <hr />
        </div>
    </div>*@
    <footer class="da-footer">
        <div class="container">
            @{ Html.RenderPartial("BottomNavigation"); }
            @CurrentPage._footerDescription
        </div>
    </footer>

    @{ Html.RenderPartial("Scripts");}

    @{ Html.RenderPartial("Google");}
</body>
</html>