@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="@CurrentPage.seoDescription">
    <meta name="keywords" content="@CurrentPage.seoKeywords">
    <meta name="author" content="">
    <meta name="robots" content="index,follow">
    <title>@CurrentPage.Parent.Title | @CurrentPage.seoTitle</title>
    @{ Html.RenderPartial("Styles");}
</head>
<body id="page-top">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <span class="da-icon">
                        @CurrentPage.Site().Name
                    </span>
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                @{ Html.RenderPartial("MainNavigation");}
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    @if (CurrentPage.BackgroundImage != null && !(CurrentPage.BackgroundImage is Umbraco.Core.Dynamics.DynamicNull))
    {
        var m = Umbraco.Media(CurrentPage.BackgroundImage);
        var compressedImg = String.Format("{0}?heigh=853&width=1280&quality=90", m.Url);

        <header style="background-image: url('@compressedImg');">
            <div class="header-content">
                <div class="header-content-inner">
                    <h1 id="homeHeading">@CurrentPage.ShortDescription</h1>
                    <hr>
                    <p>@CurrentPage.Description</p>
                    @if (!String.IsNullOrEmpty(CurrentPage.NextPageText) && CurrentPage.Name == "Home")
                    {
                        <a href="#about" class="btn btn-primary btn-xl page-scroll">@CurrentPage.NextPageText</a>
                    }
                </div>
            </div>
        </header>

    }

    @RenderBody()



    @{ Html.RenderPartial("Scripts");}

    @{ Html.RenderPartial("Google");}
</body>
</html>
