@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
	var home = @CurrentPage.Site();
}

<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="@CurrentPage.siteDescription">

    <title>@CurrentPage.Name | @CurrentPage._siteTitle</title>
	
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

      <!-- Font Awesome -->
      <link rel="stylesheet" href="/css/font-awesome.min.css" />

      <!-- Theme Animate -->
      <link rel="stylesheet" href="/css/theme-animtae.css" />

      <!-- Custom Css -->
      <link rel="stylesheet" href="/css/custom.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

      <header class="da-nav navbar navbar-static-top">
          <div class="container">
              <div class="navbar-header">

                  <button aria-controls="bs-navbar" aria-expanded="false" class="collapsed navbar-toggle" data-target="#bs-navbar" data-toggle="collapse" type="button">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a href="@home.Url" class="navbar-brand">

                      <span class="da-icon">@CurrentPage._siteShortName</span>
                  </a>
              </div>
              <nav class="collapse navbar-collapse" id="bs-navbar">
                  @{ Html.RenderPartial("MainNavigation"); }

                  <ul class="nav navbar-nav navbar-right">
                      <li class="facebook" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Facebook"><a href="http://localhost/denann/#"><i class="fa fa-facebook"></i></a></li>
                      <li class="twitter" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Twitter"><a href="http://localhost/denann/#"><i class="fa fa-twitter"></i></a></li>

                      <li class="linkedin" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Linkedin"><a href="http://localhost/denann/#"><i class="fa fa-linkedin"></i></a></li>
                      <li class="youtube" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Youtube"><a href="http://localhost/denann/#"><i class="fa fa-youtube"></i></a></li>
                      <li class="twitter" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="gplus"><a href="http://localhost/denann/#"><i class="fa fa-google-plus"></i></a></li>
                      <li class="facebook" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="instagram"><a href="http://localhost/denann/#"><i class="fa fa-instagram"></i></a></li>
                  </ul>

              </nav>
          </div>

      </header>
 
   

	
    @RenderBody()

    <footer class="da-footer">
      <div class="container">
          @{ Html.RenderPartial("BottomNavigation"); }
            @CurrentPage._footerDescription
      </div>
    </footer>
    
    <!-- Javascripts -->
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>
</html>