@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using System.Web;
@using System.Text;
@{
    dynamic sliderData = (!String.IsNullOrEmpty(Model.MacroParameters["SliderData"].ToString())) ?
        Json.Decode((dynamic)HttpUtility.HtmlDecode(Model.MacroParameters["SliderData"].ToString())) : null;
}

@{
    <div id="owl-example" class="owl-carousel">
        @foreach (var slide in sliderData)
        {
            if (slide != null)
            {
                var link = slide.link;
                var style = string.Format("background-image:url('{0}')", @slide.img);
                <div class="owl-slide" style="@style">
                    <div class="owl--text">
                        <h4>@slide.summary</h4>
                        @if (link != null)
                        {
                            <a href="@umbraco.library.NiceUrl(link.id)" target="_blank">
                                <i class="fa fa-external-link"></i> @link.text
                            </a>
                        }
                    </div>
                </div>
            }
        }

    </div>
}




